#lights > div {
  height: 350px;
}

#lights > div .icon {
  height: 250px;
  background-image: url('/static/images/off.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
}

#lights > div.on .icon {
  background-image: url('/static/images/on.svg');
}

#lights > div .details {
  bottom: 0;
  text-align: center;
}

#lights > div .details input[type=range] {
  margin: 0 auto;
}

#lights > div .details .name {
  font-weight: bold;
}
