<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hue Status</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.8/vue.min.js"></script>
  </head>
  <body>
    <main id="content">
      <div id="app">
        <div id="lights">
          <div v-for="light in lights" v-bind:class="{on: isLightOn(light)}">
            <span>{{ light.name }}</span>
          </div>
        </div>
      </div>
    </main>
    <script src="$ url_for('static', filename='js/app.js') $"></script>
  </body>
</html>
